.todo-app {
  
}

.todo-app-item {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.todo-app-form {
  display: flex;
}

.todo-app-form input {
  width: 100%;
}

.todo-app-form button {
  margin-left: 20px;
}